.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 3;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 5px;
}
.modal-footer {
  display: flex;
  flex-direction: row-reverse;
}
.modal-title {
  margin: 0;
  background-color: inherit;
  color: inherit;
  outline: none;
  width: 100%;
  border: none;
}

.modal-body {
  padding: 5px;
  height: 100%;
  max-height: 300px;
}
.button {
  margin-left: 5px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.note-text {
  height: 200px;
}
.darkMode {
  background-color: black;
  color: white;
}
.lightMode {
  background-color: white;
  color: black;
}
.whiteButton {
  background-color: white;
  color: black;
}
.darkButton {
  background-color: black;
  color: white;
}
